<h2>Update User Information</h2>

<%= form_for current_user, :url=> user_path do |f| %>
    <p><%= f.label :name %><br />
      <%= f.text_field :name %></p>

    <p><%= f.label :email %><br />
      <%= f.email_field :email %></p>

    <p><%= f.label :phone %><br />
      <%= f.phone_field :phone %></p>

    <p><%= f.submit "Save" %></p>
    <p><%= link_to "Cancel", root_path %></p>
<% end %>